.note-pdf-card {
  max-width: 250px;
  float: left;
  margin : 5px;
}

.note-header-image {
  background-image: url('https://material.angular.dev/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
