:host {
  display: block;
  width: 100%;
  min-height: 100%;
  position: relative;
}

.notes-shell {
  width: 100%;
  height: 100%;
  
  // Route geçişlerinde sayfaların üst üste binmemesi ve düzgün akması için
  display: flex;
  flex-direction: column;
  flex: 1;
}